
        <form class="" action="/api/user/signup" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="fname" placeholder="name">
            <input type="text" name="lname" placeholder="last name">
            <input type="text" name="password" placeholder="****">
            <input type="submit" name="" value="sign up">
        </form>
